* { margin:0; padding:0; }

canvas {
  width:100%;
  height:100%;
  display:block;
}

html, body {
  width:100%;
  height:100%;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
}

p {
  color: #333;
}
